doctrine:
    dbal:
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        disable_type_comments: true
        use_savepoints: true
    orm:
        auto_generate_proxy_classes: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            SensorData:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Api/SensorData/Entity'
                prefix: 'App\Api\SensorData\Entity'
                alias: SensorData
            Home:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Home/Entity'
                prefix: 'App\Home\Entity'
                alias: Home
            Node:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Node/Entity'
                prefix: 'App\Node\Entity'
                alias: Node
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
